absl-py==2.1.0
attrs==23.2.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
flatbuffers==24.3.25
fonttools==4.51.0
gTTS==2.5.1
idna==3.7
jax==0.4.26
jaxlib==0.4.26
kiwisolver==1.4.5
landmark-detection==0.1.1
matplotlib==3.8.4
mediapipe==0.10.13
ml-dtypes==0.4.0
numpy==1.26.4
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
opt-einsum==3.3.0
packaging==24.0
pillow==10.3.0
protobuf==4.25.3
pyasn1==0.6.0
PyAudio==0.2.14
pycparser==2.22
pygame==2.5.2
pyparsing==3.1.2
PySimpleGUI==5.0.4
python-dateutil==2.9.0.post0
requests==2.31.0
rsa==4.9
scipy==1.13.0
setuptools==69.5.1
six==1.16.0
sounddevice==0.4.6
SpeechRecognition==3.10.3
typing_extensions==4.11.0
urllib3==2.2.1
